* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffb6c1; /* Color rosado suave */
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

h1 {
    font-size: 2em;
    color: #ff69b4;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493;
}

#sorpresa {
    margin-top: 20px;
}

.hidden {
    display: none;
}
